@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variavel global */
:root{
    --cor-primaria: #000000;
    --cor-segundaria: #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover: #272727;
    /* --cor-primaria: #37353E;
    --cor-segundaria: #D3D4D9;
    --cor-tercearia: #715A5A;
    --cor-hover: #444443; */
    --fonte-primaria:"Krona One", sans-serif;
    --fonte-segundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh;  100 do dispositivo acessado - viewport */
    box-sizing: border-box;  /*os elementos filhos do body tem que estar dentro dele*/
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    color: var(--cor-tercearia);
    font-family: var(--fonte-segundaria);
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}

.apresentacao {
    display: flex;       /*fazer com que os itens fiquem alinhados verticalmente de acordo com a tag pai*/
    align-items: center; /*alinhar todos os itens de acordo com a centro, dependendo do objeto em tela, vai ter um alinhamento diferente*/
    justify-content: space-between;
    padding: 5% 15%;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-tercearia);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-segundaria);
}

.apresentacao__conteudo__texto__ordenado{
    font-size: 20px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}


.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;

}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap:16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;  /*se quiser alterar o tamanho entre a borda e o elemento, usa-se o padding*/
    text-decoration: none;
    color: var(--cor-segundaria);
    font-family: var(--fonte-segundaria);
    font-weight: 600;
    border: 2px solid var(--cor-tercearia);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    padding: 3%;
}

.apresentacao__imagem {
    width: 600px;  
    height: 600px; 
    object-fit: cover; 
    border-radius: 10px;
    margin: 5%;
    box-shadow: 0 0 0 1px var(--cor-tercearia);
}

.rodape{
    padding: 24px;
    background-color: var(--cor-tercearia);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    font-weight: 400px;
}
