@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variavel global */
:root{
    --cor-primaria: #000000;
    --cor-segundaria: #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover: #272727;
    /* --cor-primaria: #37353E;
    --cor-segundaria: #D3D4D9;
    --cor-tercearia: #715A5A;
    --cor-hover: #444443; */
    --fonte-primaria:"Krona One", sans-serif;
    --fonte-segundaria: 'Montserrat', sans-serif;
    --fonte-tam-primario: 2.25rem; /*36*/
    --fonte-tam-segundario: 1.5rem; /*24*/
    --fonte-tam-terceario: 1.25rem; /*20*/
}

* {
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh;  100 do dispositivo acessado - viewport */
    box-sizing: border-box;  /*os elementos filhos do body tem que estar dentro dele*/
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    color: var(--cor-tercearia);
    font-family: var(--fonte-segundaria);
    font-weight: 600;
    font-size: var(--fonte-tam-segundario);
    text-decoration: none;
}

.apresentacao {
    display: flex;       /*fazer com que os itens fiquem alinhados verticalmente de acordo com a tag pai*/
    align-items: center; /*alinhar todos os itens de acordo com a centro, dependendo do objeto em tela, vai ter um alinhamento diferente*/
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: var(--fonte-tam-primario);
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-tercearia);
}

.apresentacao__conteudo__texto {
    font-size: var(--fonte-tam-segundario);
    font-family: var(--fonte-segundaria);
}

.apresentacao__conteudo__texto__ordenado{
    font-size: var(--fonte-tam-terceario);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}


.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--fonte-tam-segundario);

}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap:16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: var(--fonte-tam-segundario);
    padding: 21.5px 0;  /*se quiser alterar o tamanho entre a borda e o elemento, usa-se o padding*/
    text-decoration: none;
    color: var(--cor-segundaria);
    font-family: var(--fonte-segundaria);
    font-weight: 600;
    border: 2px solid var(--cor-tercearia);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    padding: 3%;
}

.apresentacao__imagem {
    width: 50%;  
    height: 600px; 
    object-fit: cover; 
    border-radius: 10px;
    /* margin: 5%; */
    box-shadow: 0 0 0 1px var(--cor-tercearia);

}

.rodape{
    padding: 24px;
    background-color: var(--cor-tercearia);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-segundaria);
    font-size: var(--fonte-tam-segundario);
    font-weight: 400px;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }


}